name: Benchmark
on:
  - pull_request
permissions:
  pull-requests: write    # needed to post comments
jobs:
  benchmark:
    name: Benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: MilesCranmer/AirspeedVelocity.jl@action-v1
        with:
          julia-version: '1'
